.buscador {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.buscador input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.title {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: var(--foreground);
    font-weight: bold;
}
